

<div class="row">
	<div class="col-md-6">
		<div class="col-md-3">
			<input id="login" type="submit" class="btnRegister" value="Check In" onclick="clockStart();">
		</div>
		<div class="col-md-3">
			<p id="checkin" style="font-size:medium"></p>
		</div>

	</div>
</div>


<script type="text/javascript">

	function clockStart(value) {
		setInterval(function () {
			date = new Date()
			let hour = date.getHours();
			let minutes = date.getMinutes();
			let seconds = date.getSeconds();
			document.getElementById("checkin").innerHTML = hour + ":" + minutes + ":" + seconds;
			document.getElementById("login").style.color = "#FF0000";
			document.getElementById("login").value = "Check Out";

		}, 1000);
	}

</script>

<script type="text/javascript">

</script>