@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Human Resource Management Information System (HRMIS)</h1>
    <p>Learn more about the developer by visiting www.georgecreations.com</p>
    <p>This software is licensed to George Waweru, distribution of any part is illegal</p>
</div>
